/*
*  styles for professor-related elements
 */
.product-name {
    min-width: 200px
}

.product-price {
    min-width: 100px
}

.product-description {
    min-width: 200px
}

.product-category {
    min-width: 100px
}


.list-key {
    color: mediumblue;
    cursor: pointer;
}

.list-key:hover {
    text-decoration: underline;
}